In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
inflation=pd.read_excel('../data/us_final.xlsx',sheet_name='inflation rate')
inflation

             name  inflation_rate  Year     area
0      Atlanta,GA            1.68  2013     city
1    Baltimore,MD            1.45  2013     city
2       Boston,MA            1.40  2013     city
3      Chicago,IL            1.13  2013     city
4       Dallas,TX            1.80  2013     city
..            ...             ...   ...      ...
796           USA            1.30  2016  country
797           USA            0.10  2015  country
798           USA            1.60  2014  country
799           USA            1.50  2013  country
800           USA            2.10  2012  country

[801 rows x 4 columns]

In [3]:
school=pd.read_excel('../data/us_final.xlsx',sheet_name='school_score')
school

     Overall Rank             name  Year  Total Score   Quality Rank
0                1   Massachusetts  2024         74.36            1.0
1                2     Connecticut  2024         67.06            2.0
2                3        Maryland  2024         63.60            5.0
3                4      New Jersey  2024         63.45            3.0
4                5       Wisconsin  2024         60.62            4.0
..             ...             ...   ...           ...            ...
350             10       Virginia   2018         80.20            7.0
351             20     Washington   2018         76.20           23.0
352             36  West Virginia   2018         72.10           48.0
353             14      Wisconsin   2018         78.20           14.0
354              6        Wyoming   2018         81.80           21.0

[355 rows x 5 columns]

In [4]:
unemployment=pd.read_excel('../data/us_final.xlsx',sheet_name='unemployment_rate')
unemployment

,name,rate_2023,rate_2022,rate_2021,rate_2020,rate_2019
0,Alabama,2.5,2.5,3.4,6.4,3.2
1,Alaska,4.2,4.2,6.4,8.3,5.6
2,Arizona,3.9,3.8,5.1,7.8,4.8
3,Arkansas,3.3,3.2,4.0,6.2,3.5
4,California,4.8,4.3,7.3,10.1,4.1
5,Colorado,3.2,3.1,5.5,6.8,2.7
6,Connecticut,3.8,4.1,6.4,8.0,3.6
7,Delaware,4.0,4.3,5.5,7.5,3.6
8,District of Columbia,4.9,4.7,6.8,7.9,5.5
9,Florida,2.9,3.0,4.7,8.1,3.3
10,Georgia,3.2,3.1,3.9,6.5,3.6
11,Hawaii,3.0,3.3,6.0,11.7,2.5
12,Idaho,3.1,2.8,3.6,5.5,2.9
13,Illinois,4.5,4.6,6.1,9.3,4.0
14,Indiana,3.3,3.1,3.9,7.3,3.3
15,Iowa,2.9,2.8,3.8,5.2,2.7
16,Kansas,2.7,2.6,3.3,5.8,3.2
17,Kentucky,4.2,4.0,4.5,6.5,4.1
18,Louisiana,3.7,3.7,5.6,8.6,4.6
19,Maine,2.9,2.8,4.7,5.1,2.9
20,Maryland,2.1,3.0,5.2,6.4,3.4
21,Massachusetts,3.4,3.7,5.4,9.3,3.0
22,Michigan,3.9,4.1,5.7,10.0,4.1
23,Minnesota,2.8,2.6,3.7,6.3,3.3
24,Mississippi,3.2,3.8,5.4,8.0,5.5
25,Missouri,3.0,2.6,4.2,6.2,3.2
26,Montana,2.9,2.7,3.4,5.8,3.5
27,Nebraska,2.3,2.2,2.6,4.3,3.1
28,Nevada,5.1,5.2,6.8,13.5,4.1
29,New Hampshire,2.2,2.3,3.4,6.7,2.6
30,New Jersey,4.4,3.9,6.7,9.4,3.5
31,New Mexico,3.8,4.1,7.1,7.9,5.0
32,New York,4.2,4.3,7.1,9.8,3.9
33,North Carolina,3.5,3.7,4.9,7.2,3.9
34,North Dakota,1.9,2.0,3.0,4.9,2.2
35,Ohio,3.5,4.0,5.1,8.2,4.2
36,Oklahoma,3.2,3.1,4.0,6.3,3.1
37,Oregon,3.7,3.9,5.2,7.6,3.7
38,Pennsylvania,3.4,4.1,5.9,8.9,4.3
39,Rhode Island,3.0,3.2,5.5,9.2,3.5
40,South Carolina,3.0,3.2,3.9,6.0,2.8
41,South Dakota,2.0,2.0,2.6,4.2,2.8
42,Tennessee,3.3,3.4,4.5,7.4,3.3
43,Texas,3.9,3.9,5.6,7.7,3.5
44,United States,3.6,3.6,5.3,8.1,3.7
45,Utah,2.6,2.4,2.8,4.8,2.5
46,Vermont,2.0,2.3,3.6,5.6,2.1
47,Virginia,2.9,2.8,3.9,6.4,2.8
48,Washington,4.1,4.1,5.2,8.5,4.2
49,West Virginia,3.9,3.9,5.1,8.2,5.0
50,Wisconsin,3.0,2.9,3.9,6.4,3.2
51,Wyoming,2.9,3.4,4.5,5.9,3.7

In [5]:
income=pd.read_excel('../data/us_final.xlsx',sheet_name='median income')
income

,State_code,name,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,AK,Alaska,92270,84900,94360,94290,95440,82450,92670,87440,90850,93310,98190
1,AL,Alabama,60250,53070,55920,58800,62250,59900,66430,63980,63750,62290,60660
2,AR,Arkansas,50130,56390,53770,57170,60880,59720,64470,59400,56870,56120,63250
3,AZ,Arizona,66980,61830,65640,71100,73060,74710,83540,78480,79310,76370,82660
4,CA,California,77400,75930,79940,82980,85710,84560,92330,90840,91350,88690,89870
5,CO,Colorado,86470,76500,83660,87870,91760,87610,85700,98010,95130,93510,96640
6,CT,Connecticut,88220,88080,91570,94540,90930,87340,103200,92930,90660,94340,92240
7,DC,District of Columbia,76460,85710,88030,88390,99470,102900,110100,103200,101500,105700,111000
8,DE,Delaware,68870,72210,72560,72280,79500,77990,87700,81920,76920,83960,86340
9,FL,Florida,61790,57920,61340,63730,64960,65550,69000,67570,66890,67960,72200
10,GA,Georgia,59830,62210,63780,66650,70960,66960,66940,69330,68860,70420,72420
11,HI,Hawaii,81780,89410,81050,89820,90070,96100,104000,94560,92050,94620,97360
12,IA,Iowa,76590,72570,76450,73590,77670,82430,78080,80510,81110,79350,80860
13,ID,Idaho,61710,67080,64850,70440,72810,70450,78000,78060,86130,75460,73910
14,IL,Illinois,68670,68940,75900,76440,80730,84140,87950,86960,88750,81120,87820
15,IN,Indiana,62970,60330,65310,69850,71920,71850,78840,78150,78600,72810,76910
16,KS,Kansas,60880,67090,68930,70740,69630,76700,86470,85500,85080,75950,84830
17,KY,Kentucky,57140,53710,53250,56500,60790,65440,65800,66400,62290,58090,61980
18,LA,Louisiana,59110,53230,57690,52540,53310,59950,61120,59880,64060,60640,57650
19,MA,Massachusetts,79610,79280,85250,89990,93300,103600,103700,102700,96940,97260,106500
20,MD,Maryland,88300,95610,92450,91850,100500,103400,113000,110900,109000,112500,102000
21,ME,Maine,69970,64910,63760,63330,65240,70370,78660,74510,79660,78150,75740
22,MI,Michigan,72020,65280,68090,71090,69030,72510,75790,75330,72210,71730,76960
23,MN,Minnesota,81900,84410,86340,87440,85630,86150,96250,92130,90080,93980,90340
24,MO,Missouri,58950,71090,74370,68510,69180,74050,71630,72740,71210,74360,78290
25,MS,Mississippi,41170,44590,50300,51180,52960,51320,52940,52800,52230,50540,55060
26,MT,Montana,55000,64150,64570,71070,70250,69190,71150,66380,72790,75870,79220
27,NC,North Carolina,59000,58730,63820,66950,60630,64020,72290,70700,70430,67660,68610
28,ND,North Dakota,75310,76240,72130,74940,73630,79780,82780,75010,77140,81840,76960
29,NE,Nebraska,73370,71390,75970,73930,72910,81060,86370,84520,87470,81480,89190
30,NH,New Hampshire,87980,92140,95070,94960,92550,97580,102700,104000,99490,88350,98780
31,NJ,New Jersey,81170,81900,85880,85260,87180,88980,103700,100100,99170,96010,91590
32,NM,New Mexico,51140,58610,56680,60330,55800,57920,62780,59550,59870,58660,60980
33,NV,Nevada,66010,62610,65340,69020,71030,74210,83820,71550,72050,75200,81310
34,NY,New York,63620,68180,72870,76500,75310,80700,84940,80320,81660,78920,81600
35,OH,Ohio,64610,62320,66960,67220,74270,73930,76440,70640,70200,70200,73770
36,OK,Oklahoma,58770,59250,59140,63440,63490,65300,70210,61380,67300,65960,67330
37,OR,Oregon,62390,73910,76420,73640,76480,82970,87960,89910,91660,90230,88740
38,PA,Pennsylvania,70220,69260,75870,75930,75000,77400,83430,82810,81330,75070,79820
39,RI,Rhode Island,71710,73600,69980,76620,80030,74690,82920,93790,83970,83860,81860
40,SC,South Carolina,55460,56400,58240,67660,66740,68910,73320,70590,70040,64220,69100
41,SD,South Dakota,68010,66600,69180,71540,69650,71330,75950,82110,82750,69850,81740
42,TN,Tennessee,55210,54880,59460,63940,67680,67250,66940,64310,69610,67980,72700
43,TX,Texas,65450,67630,70950,72410,73540,71720,79720,80020,75480,77600,79060
44,UT,Utah,77730,79570,83240,84030,85400,92450,99910,98260,98150,99610,101200
45,VA,Virginia,83910,83050,77240,82750,86650,92550,96120,96180,89890,88550,96490
46,VT,Vermont,83410,76210,74740,75760,77930,84050,87830,78680,85190,75060,85190
47,WA,Washington,81390,74150,84480,87550,87550,95640,97470,95180,98150,92980,93440
48,WV,West Virginia,54840,49650,53800,55230,57460,60670,63480,60800,52450,54540,60410
49,WI,Wisconsin,65860,72910,69630,74490,77690,75130,79620,78860,78320,76240,79690
50,WY,Wyoming,85870,69910,76540,72010,72860,75020,76990,76570,79570,76000,77200

In [6]:
commodity_price=pd.read_excel('../data/us_final.xlsx',sheet_name='commodity_Price')
commodity_price

,name,Year,Clothing and footwear,Financial services and insurance,Food and beverages purchased for off-premises consumption,Food services and accommodations,Furnishings and durable household equipment,Gasoline and other energy goods,Gross output of nonprofit institutions,Health care,...,Recreational goods and vehicles,Transportation services,Durable goods,Final consumption expenditures of nonprofit institutions serving households (NPISHs),Household consumption expenditures (for services),Nondurable goods,Goods,Services,Personal consumption expenditures,Unnamed: 26
0,United States,2013,354351.4,870808.5,870535.6,732648.6,263303.9,421623.3,1272551.5,1863771.2,...,322311.3,360089.3,1191785.7,347384.2,7298665.6,2550397.8,3742183.5,7646049.8,11388233.3,NaN
1,United States,2014,368604.1,925568.9,910420.6,776810.8,275462.5,410907.2,1315246.8,1945460.2,...,331800.1,382737.6,1247260.2,353256.8,7634616.5,2639317.0,3886577.1,7987873.3,11874450.4,NaN
2,United States,2015,380803.1,976831.1,942006.0,833353.5,292690.6,318796.3,1377509.9,2059764.7,...,339507.2,393491.4,1315793.6,363787.1,7978520.9,2639336.2,3955129.8,8342308.0,12297437.8,NaN
3,United States,2016,392150.8,996139.9,969597.3,870522.0,306047.0,287014.9,1454384.3,2164634.3,...,354524.0,411050.2,1356495.3,388283.3,8305529.4,2676540.9,4033036.2,8693812.7,12726848.8,NaN
4,Alabama,2013,4654.6,9191.5,11981.1,8642.3,3244.5,7066.1,14580.6,24711.4,...,3226.0,3225.3,15563.2,2426.9,87048.5,38918.1,54481.3,89475.4,143956.7,148611.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Virginia,2023,12971.8,32712.1,38253.2,34688.3,12375.5,12234.4,49154.4,73508.2,...,17583.6,14252.6,56532.8,8502.1,316086.0,105002.0,161534.8,324588.1,486122.9,NaN
656,Washington,2023,11363.9,31554.3,35494.0,31901.0,11650.5,8957.3,51767.0,70415.0,...,21943.5,21821.0,55672.3,17651.3,312373.4,87202.9,142875.3,330024.7,472900.0,NaN
657,West Virginia,2023,1895.3,5502.2,7590.4,5201.5,1927.9,2689.2,9912.7,19628.3,...,1449.5,1506.9,8133.2,3958.0,52593.3,19550.6,27683.8,56551.3,84235.1,NaN
658,Wisconsin,2023,7633.5,24033.3,23772.2,19712.9,8056.6,11505.6,38125.4,55637.4,...,12037.9,7982.7,38583.5,13520.1,190268.0,68504.5,107088.0,203788.1,310876.1,NaN
659,Wyoming,2023,1107.1,4208.6,2859.4,2227.8,828.6,1050.4,3444.5,5285.8,...,651.7,1244.0,3574.4,722.4,21736.5,7223.5,10797.9,22458.9,33256.8,NaN

In [18]:
house_price=pd.read_excel('../data/us_final.xlsx',sheet_name='House_price')
house_price

           name  Year  house_price
0       Alabama  2021       177880
1        Alaska  2021       324818
2       Arizona  2021       332801
3      Arkansas  2021       162526
4    California  2021       635822
..          ...   ...          ...
195     Vermont  2024       375943
196    Virginia  2024       383327
197  Washington  2024       589807
198   Wisconsin  2024       289236
199     Wyoming  2024       333745

[200 rows x 3 columns]

In [8]:
mortgage=pd.read_excel('../data/us_final.xlsx',sheet_name='mortgage_rate')
mortgage

    Year  Average 30-Year Rate  Average  15-Year Rate name
0   2008                  6.03               5.617170  USA
1   2009                  5.04               4.573846  USA
2   2010                  4.69               4.095577  USA
3   2011                  4.45               3.684231  USA
4   2012                  3.66               2.934423  USA
5   2013                  3.98               3.100769  USA
6   2014                  4.17               3.286038  USA
7   2015                  3.85               3.087500  USA
8   2016                  3.65               2.930769  USA
9   2017                  3.99               3.272500  USA
10  2018                  4.54               4.000192  USA
11  2019                  3.94               3.391731  USA
12  2020                  3.10               2.604906  USA
13  2021                  2.96               2.271923  USA
14  2022                  5.34               4.583846  USA
15  2023                  6.81               6.111731  USA
16  2024                  6.72               5.964898  USA

In [20]:
house_price.sort_values('house_price',ascending=False)

            name  Year  house_price
161       Hawaii  2024       967296
111       Hawaii  2023       960981
61        Hawaii  2022       914494
154   California  2024       785294
11        Hawaii  2021       772634
..           ...   ...          ...
74   Mississippi  2022       169087
3       Arkansas  2021       162526
17      Kentucky  2021       158945
36      Oklahoma  2021       157331
24   Mississippi  2021       148394

[200 rows x 3 columns]