In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('../data/cpi.xlsx',sheet_name='cpi')
df

,City,2013-change,2014-change,2015-change,2016-change,2017-change,2018-change,2019-change,2020-change,2021-change,2022-change,2023-change,oct_2024-change
0,"Atlanta,GA",1.683333,2.100000,0.383333,1.733333,3.300000,2.350000,2.233333,1.166667,6.566667,10.566667,4.800000,2.52
1,"Baltimore,MD",1.450000,1.850000,0.166667,1.350000,1.900000,1.300000,1.383333,0.950000,4.550000,8.983333,3.600000,2.98
2,"Boston,MA",1.400000,1.666667,0.633333,1.366667,2.566667,3.250000,2.016667,1.066667,3.100000,7.200000,3.750000,3.24
3,"Chicago,IL",1.133333,1.750000,-0.291667,0.666667,1.875000,1.758333,1.458333,1.133333,4.216667,7.558333,3.333333,3.40
4,"Dallas,TX",1.800000,1.183333,-0.500000,1.400000,2.550000,2.933333,2.100000,0.616667,5.033333,8.816667,5.300000,4.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,"Ontario,CA",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.883333,1.916667,5.483333,8.850000,4.733333,3.08
58,"Hayward,CA",2.266667,2.850000,2.600000,3.100000,3.216667,3.983333,3.150000,1.716667,3.383333,5.600000,3.533333,2.90
59,"Bellevue,WA",1.233333,1.866667,1.383333,2.266667,3.083333,3.150000,2.500000,1.633333,4.983333,8.933333,5.683333,3.72
60,"Clearwater,FL",0.000000,0.000000,0.000000,0.000000,0.000000,2.300000,1.650000,2.516667,5.866667,10.400000,6.950000,2.60
61,"Alexandria,VA",1.550000,1.550000,0.350000,1.116667,1.100000,2.050000,1.266667,0.883333,3.766667,6.733333,3.183333,3.32

In [3]:
df1=df[['City','2013-change']]
df1['year']='2013'
df1=df1.rename(columns={'2013-change':'cpi'})
df1

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\786863800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['year']='2013'

             City       cpi  year
0      Atlanta,GA  1.683333  2013
1    Baltimore,MD  1.450000  2013
2       Boston,MA  1.400000  2013
3      Chicago,IL  1.133333  2013
4       Dallas,TX  1.800000  2013
..            ...       ...   ...
57     Ontario,CA  0.000000  2013
58     Hayward,CA  2.266667  2013
59    Bellevue,WA  1.233333  2013
60  Clearwater,FL  0.000000  2013
61  Alexandria,VA  1.550000  2013

[62 rows x 3 columns]

In [4]:
df2=df[['City','2014-change']]
df2['year']='2014'
df2=df2.rename(columns={'2014-change':'cpi'})
df2

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\153013398.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['year']='2014'

             City       cpi  year
0      Atlanta,GA  2.100000  2014
1    Baltimore,MD  1.850000  2014
2       Boston,MA  1.666667  2014
3      Chicago,IL  1.750000  2014
4       Dallas,TX  1.183333  2014
..            ...       ...   ...
57     Ontario,CA  0.000000  2014
58     Hayward,CA  2.850000  2014
59    Bellevue,WA  1.866667  2014
60  Clearwater,FL  0.000000  2014
61  Alexandria,VA  1.550000  2014

[62 rows x 3 columns]

In [5]:
main=pd.concat([df1,df2])
main

             City       cpi  year
0      Atlanta,GA  1.683333  2013
1    Baltimore,MD  1.450000  2013
2       Boston,MA  1.400000  2013
3      Chicago,IL  1.133333  2013
4       Dallas,TX  1.800000  2013
..            ...       ...   ...
57     Ontario,CA  0.000000  2014
58     Hayward,CA  2.850000  2014
59    Bellevue,WA  1.866667  2014
60  Clearwater,FL  0.000000  2014
61  Alexandria,VA  1.550000  2014

[124 rows x 3 columns]

In [6]:
df2=df[['City','2014-change']]
df2['year']='2014'
df2=df2.rename(columns={'2014-change':'cpi'})
df2

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\153013398.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['year']='2014'

             City       cpi  year
0      Atlanta,GA  2.100000  2014
1    Baltimore,MD  1.850000  2014
2       Boston,MA  1.666667  2014
3      Chicago,IL  1.750000  2014
4       Dallas,TX  1.183333  2014
..            ...       ...   ...
57     Ontario,CA  0.000000  2014
58     Hayward,CA  2.850000  2014
59    Bellevue,WA  1.866667  2014
60  Clearwater,FL  0.000000  2014
61  Alexandria,VA  1.550000  2014

[62 rows x 3 columns]

In [7]:
df3=df[['City','2015-change']]
df3['year']='2015'
df3=df3.rename(columns={'2015-change':'cpi'})
df3

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\1548558913.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['year']='2015'

             City       cpi  year
0      Atlanta,GA  0.383333  2015
1    Baltimore,MD  0.166667  2015
2       Boston,MA  0.633333  2015
3      Chicago,IL -0.291667  2015
4       Dallas,TX -0.500000  2015
..            ...       ...   ...
57     Ontario,CA  0.000000  2015
58     Hayward,CA  2.600000  2015
59    Bellevue,WA  1.383333  2015
60  Clearwater,FL  0.000000  2015
61  Alexandria,VA  0.350000  2015

[62 rows x 3 columns]

In [8]:
main=pd.concat([main,df3])
main

             City       cpi  year
0      Atlanta,GA  1.683333  2013
1    Baltimore,MD  1.450000  2013
2       Boston,MA  1.400000  2013
3      Chicago,IL  1.133333  2013
4       Dallas,TX  1.800000  2013
..            ...       ...   ...
57     Ontario,CA  0.000000  2015
58     Hayward,CA  2.600000  2015
59    Bellevue,WA  1.383333  2015
60  Clearwater,FL  0.000000  2015
61  Alexandria,VA  0.350000  2015

[186 rows x 3 columns]

In [9]:
df4=df[['City','2016-change']]
df4['year']='2016'
df4=df4.rename(columns={'2016-change':'cpi'})
df4
main=pd.concat([main,df4])
main

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\444188645.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['year']='2016'

             City       cpi  year
0      Atlanta,GA  1.683333  2013
1    Baltimore,MD  1.450000  2013
2       Boston,MA  1.400000  2013
3      Chicago,IL  1.133333  2013
4       Dallas,TX  1.800000  2013
..            ...       ...   ...
57     Ontario,CA  0.000000  2016
58     Hayward,CA  3.100000  2016
59    Bellevue,WA  2.266667  2016
60  Clearwater,FL  0.000000  2016
61  Alexandria,VA  1.116667  2016

[248 rows x 3 columns]

In [10]:
df5=df[['City','2017-change']]
df5['year']='2017'
df5=df5.rename(columns={'2017-change':'cpi'})
df5
main=pd.concat([main,df5])
main

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\736400518.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5['year']='2017'

             City       cpi  year
0      Atlanta,GA  1.683333  2013
1    Baltimore,MD  1.450000  2013
2       Boston,MA  1.400000  2013
3      Chicago,IL  1.133333  2013
4       Dallas,TX  1.800000  2013
..            ...       ...   ...
57     Ontario,CA  0.000000  2017
58     Hayward,CA  3.216667  2017
59    Bellevue,WA  3.083333  2017
60  Clearwater,FL  0.000000  2017
61  Alexandria,VA  1.100000  2017

[310 rows x 3 columns]

In [11]:
df6=df[['City','2018-change']]
df6['year']='2018'
df6=df6.rename(columns={'2018-change':'cpi'})
df6
main=pd.concat([main,df6])
main

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\957460979.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['year']='2018'

             City       cpi  year
0      Atlanta,GA  1.683333  2013
1    Baltimore,MD  1.450000  2013
2       Boston,MA  1.400000  2013
3      Chicago,IL  1.133333  2013
4       Dallas,TX  1.800000  2013
..            ...       ...   ...
57     Ontario,CA  0.000000  2018
58     Hayward,CA  3.983333  2018
59    Bellevue,WA  3.150000  2018
60  Clearwater,FL  2.300000  2018
61  Alexandria,VA  2.050000  2018

[372 rows x 3 columns]

In [12]:
df7=df[['City','2019-change']]
df7['year']='2019'
df7=df7.rename(columns={'2019-change':'cpi'})
df7
main=pd.concat([main,df7])
main

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\410989379.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7['year']='2019'

             City       cpi  year
0      Atlanta,GA  1.683333  2013
1    Baltimore,MD  1.450000  2013
2       Boston,MA  1.400000  2013
3      Chicago,IL  1.133333  2013
4       Dallas,TX  1.800000  2013
..            ...       ...   ...
57     Ontario,CA  2.883333  2019
58     Hayward,CA  3.150000  2019
59    Bellevue,WA  2.500000  2019
60  Clearwater,FL  1.650000  2019
61  Alexandria,VA  1.266667  2019

[434 rows x 3 columns]

In [13]:
df8=df[['City','2020-change']]
df8['year']='2020'
df8=df8.rename(columns={'2020-change':'cpi'})
df8
main=pd.concat([main,df8])
main

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\1188079478.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df8['year']='2020'

             City       cpi  year
0      Atlanta,GA  1.683333  2013
1    Baltimore,MD  1.450000  2013
2       Boston,MA  1.400000  2013
3      Chicago,IL  1.133333  2013
4       Dallas,TX  1.800000  2013
..            ...       ...   ...
57     Ontario,CA  1.916667  2020
58     Hayward,CA  1.716667  2020
59    Bellevue,WA  1.633333  2020
60  Clearwater,FL  2.516667  2020
61  Alexandria,VA  0.883333  2020

[496 rows x 3 columns]

In [14]:
df9=df[['City','2021-change']]
df9['year']='2021'
df9=df9.rename(columns={'2021-change':'cpi'})
df9
main=pd.concat([main,df9])
main

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\2982048440.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df9['year']='2021'

             City       cpi  year
0      Atlanta,GA  1.683333  2013
1    Baltimore,MD  1.450000  2013
2       Boston,MA  1.400000  2013
3      Chicago,IL  1.133333  2013
4       Dallas,TX  1.800000  2013
..            ...       ...   ...
57     Ontario,CA  5.483333  2021
58     Hayward,CA  3.383333  2021
59    Bellevue,WA  4.983333  2021
60  Clearwater,FL  5.866667  2021
61  Alexandria,VA  3.766667  2021

[558 rows x 3 columns]

In [15]:
df10=df[['City','2022-change']]
df10['year']='2022'
df10=df10.rename(columns={'2022-change':'cpi'})
df10
main=pd.concat([main,df10])
main

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\3849508752.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df10['year']='2022'

             City        cpi  year
0      Atlanta,GA   1.683333  2013
1    Baltimore,MD   1.450000  2013
2       Boston,MA   1.400000  2013
3      Chicago,IL   1.133333  2013
4       Dallas,TX   1.800000  2013
..            ...        ...   ...
57     Ontario,CA   8.850000  2022
58     Hayward,CA   5.600000  2022
59    Bellevue,WA   8.933333  2022
60  Clearwater,FL  10.400000  2022
61  Alexandria,VA   6.733333  2022

[620 rows x 3 columns]

In [16]:
df11=df[['City','2023-change']]
df11['year']='2023'
df11=df11.rename(columns={'2023-change':'cpi'})
df11
main=pd.concat([main,df11])
main

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\2602013175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df11['year']='2023'

             City       cpi  year
0      Atlanta,GA  1.683333  2013
1    Baltimore,MD  1.450000  2013
2       Boston,MA  1.400000  2013
3      Chicago,IL  1.133333  2013
4       Dallas,TX  1.800000  2013
..            ...       ...   ...
57     Ontario,CA  4.733333  2023
58     Hayward,CA  3.533333  2023
59    Bellevue,WA  5.683333  2023
60  Clearwater,FL  6.950000  2023
61  Alexandria,VA  3.183333  2023

[682 rows x 3 columns]

In [17]:
df12=df[['City','oct_2024-change']]
df12['year']='2024'
df12=df12.rename(columns={'oct_2024-change':'cpi'})
df12
main=pd.concat([main,df12])
main

C:\Users\obuli\AppData\Local\Temp\ipykernel_13580\238562331.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12['year']='2024'

             City       cpi  year
0      Atlanta,GA  1.683333  2013
1    Baltimore,MD  1.450000  2013
2       Boston,MA  1.400000  2013
3      Chicago,IL  1.133333  2013
4       Dallas,TX  1.800000  2013
..            ...       ...   ...
57     Ontario,CA  3.080000  2024
58     Hayward,CA  2.900000  2024
59    Bellevue,WA  3.720000  2024
60  Clearwater,FL  2.600000  2024
61  Alexandria,VA  3.320000  2024

[744 rows x 3 columns]

In [18]:
main['area']='city'

In [19]:
main=main.rename(columns={'City':'name','year':'Year'})
main

             name       cpi  Year  area
0      Atlanta,GA  1.683333  2013  city
1    Baltimore,MD  1.450000  2013  city
2       Boston,MA  1.400000  2013  city
3      Chicago,IL  1.133333  2013  city
4       Dallas,TX  1.800000  2013  city
..            ...       ...   ...   ...
57     Ontario,CA  3.080000  2024  city
58     Hayward,CA  2.900000  2024  city
59    Bellevue,WA  3.720000  2024  city
60  Clearwater,FL  2.600000  2024  city
61  Alexandria,VA  3.320000  2024  city

[744 rows x 4 columns]

In [20]:
region=pd.read_excel('../data/cpi.xlsx',sheet_name='region')
region=region.rename(columns={'CPI -12 month % change':'cpi','Region':'name'})
region['area']='Region'
region

    Year       name  cpi    area
0   2013  Northeast  1.4  Region
1   2014  Northeast  1.4  Region
2   2015  Northeast -0.1  Region
3   2016  Northeast  1.1  Region
4   2017  Northeast  1.8  Region
5   2018  Northeast  2.2  Region
6   2019  Northeast  1.6  Region
7   2020  Northeast  1.3  Region
8   2021  Northeast  3.9  Region
9   2022  Northeast  7.0  Region
10  2023  Northeast  3.5  Region
11  2013   Midwest   1.4  Region
12  2014   Midwest   1.5  Region
13  2015   Midwest  -0.5  Region
14  2016   Midwest   0.8  Region
15  2017   Midwest   1.7  Region
16  2018   Midwest   1.9  Region
17  2019   Midwest   1.5  Region
18  2020   Midwest   1.0  Region
19  2021   Midwest   5.1  Region
20  2022   Midwest   8.0  Region
21  2023   Midwest   3.0  Region
22  2013       West  1.5  Region
23  2014       West  1.9  Region
24  2015       West  1.2  Region
25  2016       West  1.9  Region
26  2017       West  2.8  Region
27  2018       West  3.3  Region
28  2019       West  2.7  Region
29  2020       West  1.7  Region
30  2021       West  4.5  Region
31  2022       West  8.0  Region
32  2023       West  4.3  Region
33  2013      South  1.6  Region
34  2014      South  1.7  Region
35  2015      South -0.2  Region
36  2016      South  1.1  Region
37  2017      South  2.0  Region
38  2018      South  2.2  Region
39  2019      South  1.5  Region
40  2020      South  1.0  Region
41  2021      South  5.1  Region
42  2022      South  8.6  Region
43  2023      South  4.5  Region

In [42]:
final=pd.concat([main,region])
final

            name       cpi  Year    area
0     Atlanta,GA  1.683333  2013    city
1   Baltimore,MD  1.450000  2013    city
2      Boston,MA  1.400000  2013    city
3     Chicago,IL  1.133333  2013    city
4      Dallas,TX  1.800000  2013    city
..           ...       ...   ...     ...
39         South  1.500000  2019  Region
40         South  1.000000  2020  Region
41         South  5.100000  2021  Region
42         South  8.600000  2022  Region
43         South  4.500000  2023  Region

[788 rows x 4 columns]

In [50]:
final['cpi']=final['cpi'].round(2)

In [52]:
final

            name   cpi  Year    area
0     Atlanta,GA  1.68  2013    city
1   Baltimore,MD  1.45  2013    city
2      Boston,MA  1.40  2013    city
3     Chicago,IL  1.13  2013    city
4      Dallas,TX  1.80  2013    city
..           ...   ...   ...     ...
39         South  1.50  2019  Region
40         South  1.00  2020  Region
41         South  5.10  2021  Region
42         South  8.60  2022  Region
43         South  4.50  2023  Region

[788 rows x 4 columns]

In [60]:
usa=pd.read_excel('../data/cpi.xlsx',sheet_name='us')
usa['name']='USA'
usa['area']='country'
usa

    Year  cpi name     area
0   2024  3.0  USA  country
1   2023  4.1  USA  country
2   2022  8.0  USA  country
3   2021  4.7  USA  country
4   2020  1.2  USA  country
5   2019  1.8  USA  country
6   2018  2.4  USA  country
7   2017  2.1  USA  country
8   2016  1.3  USA  country
9   2015  0.1  USA  country
10  2014  1.6  USA  country
11  2013  1.5  USA  country
12  2012  2.1  USA  country

In [64]:
final_updated=pd.concat([final,usa])
final_updated

            name   cpi  Year     area
0     Atlanta,GA  1.68  2013     city
1   Baltimore,MD  1.45  2013     city
2      Boston,MA  1.40  2013     city
3     Chicago,IL  1.13  2013     city
4      Dallas,TX  1.80  2013     city
..           ...   ...   ...      ...
8            USA  1.30  2016  country
9            USA  0.10  2015  country
10           USA  1.60  2014  country
11           USA  1.50  2013  country
12           USA  2.10  2012  country

[801 rows x 4 columns]

In [76]:
final_updated['Year']=final_updated['Year'].astype('int')
final_updated.info()

<class 'pandas.core.frame.DataFrame'>
Index: 801 entries, 0 to 12
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    801 non-null    object
 1   cpi     801 non-null    float64
 2   Year    801 non-null    int32
 3   area    801 non-null    object
dtypes: float64(1), int32(1), object(2)
memory usage: 28.2+ KB

In [78]:
final_updated.to_excel('inflation_rate.xlsx')